[Desktop Entry]                               
Encoding=UTF-8                                                                  
Exec=omron++
Icon=omron++_32
Name=Omron++
Type=Application
Comment=the can-do-anything visual apparaton ;-)
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation;

